body {
    background-color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 93px;
    width: 100%;
    background-color: white;
    font-weight: bold;
    text-align: center;
    color: #5BBCC9;

}

.intro {
    height: 100vh;
    background-image: url(img/nanotube1a.jpg);
    background-repeat: no-repeat;
	background-color:#FFFFFF;
    background-origin: border-box;
    list-style-position: outside;
    background-position: center;

}

.container {
    text-align: center;
    position: static;
    clear: both;
    display: block;
    float: none;
   padding-top: 20%;

}

#start {
    background-color: #FFFFFF;
    background-origin: padding-box;

}

.galer {
    height: 100vh;
    display: none;
    color: #FFFFFF;
    text-align: center;
}

.button_logo {
    float: left;
    display: block;
    height: 32px;
    width: 32px;
    margin-top: 19px;
    margin-left: 30px;
    background: url(img/logo.png) center center no-repeat;
    white-space: nowrap;
    margin-left: 30px;

}

.button_artkuly {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100px;
    margin: 10px;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: 1px solid white;
    border-radius: 2px;
}

.button_ciekawostki {
    margin: 10px;
    position: relative;
    display: inline-block;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: 1px solid white;
    border-radius: 2px;
    /*color:#2ddaff;*/
}

.button_logowanie {
    margin: 10px;
    position: relative;
    display: inline-block;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin: 2px;
    border: 1px solid white;
    border-radius: 2px;

}

.button_publikacje {
    margin: 10px;
    position: relative;
    display: inline-block;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: 1px solid white;
    border-radius: 2px;
}

.button_kontakt {
    margin: 10px;
    position: relative;
    display: inline-block;
    height: 100%;
    padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    border: 1px solid white;
    border-radius: 2px;

}

a {
    margin: 10px;
    text-decoration: none;
    color: #416169;
}

a:hover {
    color: #FFFFFF;
    background-color: #3D3D3D;
    padding-bottom: 22px;
}

a.button_artkuly:hover {
    background-color: #337ab7;
    border: 1px solid #204D74;
}

a.button_ciekawostki:hover {
    background-color: #5CB85C;
    border: 1px solid #4CAE4C;
}

a.button_logowanie:hover {
    background-color: #D9534F;
    border: 1px solid #D43F3A;
}

a.button_publikacje:hover {
    background-color: #5bc0de;
    border: 1px solid #269ABC;
}

a.button_logo:hover {
    border-bottom: none;
    padding-bottom: 0px;
    background-color: white;

}

a.button_kontakt:hover {
    background-color: #EC971F;
    border: 1px solid #D58512;
}

a.button_gora:hover {
    background-color: #f8f8f0;
    border-bottom: 0;
    padding-bottom: 0;
}

footer {

    clear: both;
    bottom: -20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
    background-color: #3c4543;
}



h1 {
    color: #333;
}

h2 {
    color: #666;

}

.article {
    padding: 20% 10% 20% 10%;
    background-color: #222930;
    color: #FFFFFF;
	height: 100vh;
}

#article_1 > h1 {
    text-align: center;

    color: #459FD4;

}

#b_1 {
    display: none;
}

#b_2 {
    background-color: #161b20;
    display: none;
}

#b_2> h1 {
    color: #459FD4;
	text-align:center;
}
#b_5 {
    text-align: center;
    display: none;

    background-color: #FFFFFF;
    /*background-image: url(carbon-nanotubes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;	*/
}

.left {
    float: left;

}

.right {
    float: right;
}

.gora {
    width: 100%;
    height: 90px;
}

.button {
    border: 3px solid #666666;
    border-radius: 2px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin: 80px auto 0 auto;
    display: block;
    height: 35%;
    width: 100px;
}

#article_2, #article_3, #article_4, #article_5 {
    display: none;

}

#article_2 > h1, #article_3 > h1, #article_4 > h1, #article_5 > h1 {
    text-align: center;
    color: #459FD4;

}

#b_4 {
    display: none;
    background-color: #161b20;

}
#b_3 {
    display: none;
    background-color: #222930;

}
#b_3>h1
{
	text-align:center;
	color: #459FD4;
}

.button_gora {

    text-align: center;
    margin: 80px auto 0 auto;
    height: 35%;
    display: block;
    width: 100px;

}

.next {
    text-align: center;
    display: block;
}



#b_4 > h2 {
    color: #459FD4;
    text-align: center;
    padding-top: 15%;
}

#slider {
	display: block;
	height: 50%;
	
	background-repeat: no-repeat;
	background-size: 100% 100%;
 	width: 50%;
  	margin: 0 auto;
}



ul 
{
	list-style:none;
	display:inline-block;
	vertical-align:middle;
	padding:0;
	

}

 li
{
	display:inline-block;
	
}

a{
	display:none;
}
#box_1
{
	width: 300px;
	height: 274px;
	background-image: url(img/ciekawostki/1a.jpg);
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	padding:0;
	position:absolute;
}

#box_2
{
	width: 300px;
	height: 274px;
	background-color: yellow;
	background-image: url(img/ciekawostki/2a.jpg);
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	padding:0;
	position:absolute;
}

#box_3
{
	width: 300px;
	height: 274px;
	background-color: green;
	background-image: url(img/ciekawostki/3a.jpg);
	background-repeat: no-repeat;;
	background-size: 100% 100%;
	padding:0;
	position:absolute;
	
}
.box
{
	display:inline-block;
	vertical-align:middle;
	position:absolute;
	padding:0;
}
.box p
{
	display:none;
	padding:0;
	}
#pdfwyswietlator
{
	width:100%;
	height=300;
}